---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";

// Supports weights 400-700
import "@fontsource-variable/lora";

import "@fontsource/bebas-neue";

// Supports weights 100-900
import "@fontsource-variable/inter";

// Supports weights 100-800
import "@fontsource-variable/sora";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
