---

---

<section>
  <div
    class="flex items-center justify-between text-[69px]/none text-[#88BD9F]"
  >
    <p class="font-poppins opacity-50">Mellow</p>
    <p class="font-sora">Mystic</p>
    <p class="font-inter opacity-50">Ultras</p>
    <p class="font-lora opacity-50">Telly</p>
    <p class="font-bebas-neue opacity-50 uppercase">Bistro</p>
  </div>
</section>
