---
import { Image } from "astro:assets";
import avatar1 from "~/assets/avatar-1.png";
import avatar2 from "~/assets/avatar-2.png";
import avatar3 from "~/assets/avatar-3.png";
---

<section>
  <div class="max-w-[1338px] mx-auto flex flex-col items-center gap-8">
    <svg
      width="92"
      height="72"
      viewBox="0 0 92 72"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32.7008 0.318142C34.557 -0.470698 36.7091 0.251021 37.7177 2.0005L43.586 12.1822C44.1577 13.1746 44.2775 14.3654 43.9146 15.4522C43.5512 16.539 42.7403 17.4174 41.6874 17.865C37.1779 19.781 33.1659 22.9714 30.5758 26.3926C28.8765 28.6378 28 30.673 27.7269 32.345C37.0338 34.083 44.121 42.1926 44.121 52.0006C44.121 63.0854 35.0689 72.0006 23.9905 72.0006C13.0169 72.0006 3.24161 63.1442 1.01602 52.847C-3.91402 30.037 10.9923 9.54234 32.7008 0.318142ZM80.4935 0.318142C82.3497 -0.470698 84.5022 0.251021 85.5104 2.0005L91.3786 12.1822C91.9508 13.1746 92.0702 14.3654 91.7072 15.4522C91.3439 16.539 90.533 17.4174 89.4801 17.865C84.9706 19.781 80.9586 22.9714 78.3685 26.3926C76.6691 28.6378 75.7927 30.673 75.5196 32.345C84.8269 34.083 91.9137 42.1926 91.9137 52.0006C91.9137 63.0854 82.8616 72.0006 71.7831 72.0006C60.8097 72.0006 51.0345 63.1442 48.8089 52.847C43.8786 30.037 58.785 9.54234 80.4935 0.318142ZM32.6221 9.15878C15.2026 17.8666 5.16638 34.2462 8.82079 51.1542C10.3302 58.1378 17.1385 64.0006 23.9905 64.0006C30.7371 64.0006 36.1354 58.589 36.1354 52.0006C36.1354 45.4122 30.7371 40.0006 23.9905 40.0006C22.2216 40.0006 20.6641 38.835 20.1618 37.1362C18.5522 31.6906 20.8581 25.9902 24.2133 21.5582C26.8409 18.0874 30.446 14.9134 34.557 12.5158L32.6221 9.15878ZM80.4148 9.15878C62.9954 17.8666 52.9591 34.2462 56.6137 51.1542C58.123 58.1378 64.9311 64.0006 71.7831 64.0006C78.5298 64.0006 83.9281 58.589 83.9281 52.0006C83.9281 45.4122 78.5298 40.0006 71.7831 40.0006C70.0147 40.0006 68.4567 38.835 67.9544 37.1362C66.3449 31.6906 68.6508 25.9902 72.0059 21.5582C74.6336 18.0874 78.2387 14.9134 82.3497 12.5158L80.4148 9.15878Z"
        fill="#73A588"></path>
    </svg>

    <p
      class="text-center font-sora text-[60px]/[1.2] font-light text-brand-dark-1"
    >
      As first-time homebuyers, we were nervous about the process, but the
      agents at Realty provided us with all the information and support we
      needed.
    </p>

    <div>
      <div class="flex items-center justify-center gap-7">
        <Image width={60} height={60} src={avatar1} alt="" />
        <div class="p-1.5 rounded-full bg-brand-gray-6">
          <Image width={80} height={80} src={avatar2} alt="" />
        </div>
        <Image width={60} height={60} src={avatar3} alt="" />
      </div>

      <p class="text-center font-light text-base/7">
        <strong class="text-2xl/7">Emily Smith</strong>
        Sydney, NSW 2000 Australia
      </p>
    </div>
  </div>
</section>
